.dayTwoHtml{
  background: #d3d3d3;
}

h1{
  color: maroon;
  font-family: "Futura";
}

h2{
  color: goldenrod;
  font-style: oblique;
}

.dayTwo{
  color: #717171;
  width: 45%;
  margin: 20px;

  padding: 8px;
}

.DigitalMusic{
  width: 480px;
  height: 565px;
  border: 15px solid #778899;
}

.description{
  color: #717171;
  width: 460px;
  margin: 0px 15px 15px 10px;
}

.linkToIndexDiv {
  background: maroon;
  width: 200px;
  height: 25px;
}

.linkToIndexDiv:hover {
  background: #dd0000;
  transform: scale(1.05);
}

.linkToIndex {
  color: white;
  font-family: "Futura";
  text-decoration: none;
}

.linkToIndexP {
  text-align: center;
}
